<html>

<head>
    <title>Game Zone</title>
    <link rel="stylesheet" href="css/homepage.css">
</head>

<body>
    <div class="header">
        <a href="/homepage" id="logo" class="links">GAME ZONE</a>
        <a href="/logout" id="logout" class="links">LOGOUT</a>
    </div>

    <div class="grid-container">

        <% games.forEach((game)=> { %>
            <a href="/recensioni?id=<%= game.id %>" style="text-decoration: none; color: inherit;">
            <div class="game">
                <img src="images\<%=game.titolo%>.jpg" alt="<%= game.titolo %>">
                <div class="game-content">
                    <div class="game-title">
                        <%= game.titolo %>
                    </div>
                    <div class="game-info">Genere: <%= game.genere %>
                    </div>
                    <div class="game-info">Anno: <%= game.anno_uscita %>
                    </div>
                </div>
            </div>
            </a>
        <% }); %>

    </div>

    <div id="pages">
        <a href="/homepage?page=<%= currentPage > 1 ? currentPage - 1 : 1 %>" style="margin-right: 20px;" class="links">
            INDIETRO
        </a>

        <span>
            <%= currentPage %>
        </span>

        <a href="/homepage?page=<%= currentPage < totalPages ? currentPage + 1 : totalPages %>" style="margin-left: 20px;" class="links">
            AVANTI
        </a>
    </div>
</body>

</html>